<div class="{{getCssClass}}NavigationBlock">
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTom1m1" data-command="navTo" data-x="-1" data-y="-1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTonnm1" data-command="navTo" data-x="0" data-y="-1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTop1m1" data-command="navTo" data-x="1" data-y="-1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTom1nn" data-command="navTo" data-x="-1" data-y="0" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTop1nn" data-command="navTo" data-x="1" data-y="0" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTom1p1" data-command="navTo" data-x="-1" data-y="1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTonnp1" data-command="navTo" data-x="0" data-y="1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
    <div class="{{getCssClass}}Arrow {{getCssClass}}ArrowTop1p1" data-command="navTo" data-x="1" data-y="1" >
        <svg><use xlink:href="#navigationArrow" /></svg>
    </div>
</div>