
<div class="container">
    <div class="{{getCssClass}}Header" data-role="chptitle">{{{data.chapter.name}}}</div>    
    <div class="{{getCssClass}}Intro" data-role="intro">{{{data.chapter.info}}}</div>    
    {{#hasSubChapters}}
    <div class="row">
        {{#data.subchapters}}
        {{>subchapter}}
        {{/data.subchapters}}
    </div>
    {{/hasSubChapters}}
    <div class="row">
        {{#data.excersizes}}
        {{>excersize}}
        {{/data.excersizes}}
        {{^data.excersizes}}
        <div class="{{getCssClass}}ExcersizeError">{{#_TT}}{{getCssClass}}NoExcersizes{{/_TT}}</div>
        {{/data.excersizes}}
    </div>
</div>  
